{% extends "base.html" %}
{% block script %}
	<script type="text/javascript">
		$(document).ready(function(){
		$('#log').hide();				
		});
	</script>
{% endblock %}
{% block content %}
	<form method="post">{% csrf_token %}
		<div class="jumbotron">
			<table class="table table-striped table-condensed">
				{{form}}
			</table>
			<div class="row">
				<div class="col-md-6 col-md-offset-4">
					<br/>
					<button class="btn btn-primary" type="submit" name="dd">Register</button>
				</div>
			</div>
		</div>
	</form>
	<div id="mydiv">
	</div>
{% endblock %}